h1 {
  font: 600 1.5em/1 "Raleway", sans-serif;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  position: absolute;
  top: 25%;
  width: 100%;
}

#title,
#title:after {
  font-weight: 900;
  color: #ff0000;
  white-space: nowrap;
  display: inline-block;
  position: relative;
  letter-spacing: 0.1em;
  padding: 0.2em 0 0.25em 0;
}

#title {
  font-size: 4em;
  z-index: 100;
  text-shadow: 0.04em 0.04em 0 #282828;
}
