body{
    background: #f5f5f5;
    border-style: double;
    border-width: 2px;
    background-size: cover;
    margin: 2px;
    size: 100%;
    width: fit-content;
    height: fit-content;
    
  }
  
  h1 {
    color: #f96754;
    text-align: center;
    letter-spacing: 0.5em;
    position: absolute;
    top: 25%;
    width: 100%;
  }
  
  #topDiv{
    display: flex;
    justify-content: space-evenly;
    border-bottom: gray;
    border-bottom-style: double;
    border-bottom-width: 1px;
    margin-bottom: 10px;
  }
  
  #titleDiv{
    padding-bottom: 30px;
    align-items: flex-start;
  }
  
  #logoDiv{
    padding-top: 25px;
    align-items: flex-start;
  }
  
  #title{
    margin-top: 10px;
    align-items: center
  }
  
  #logo{
    width: 50px;
    height: auto
  }
  
  #title,
  #title:after {
    font-family: 'Roboto', sans-serif;
    font-weight: 550;
    font-style: normal;
    white-space: nowrap;
    display: inline-block;
    position: relative;
    letter-spacing: 0.1em;
    padding: 0.2em 0 0.25em 0;
  }
  
  #title {
    font-size: 2.7em;
    z-index: 100;
  }
  
  #loading{
    height: 42px;
    width: 42px;
  }
  
  #content{
    display: none;
  }
  
  #keywordLabel{
    color: darkblue
  }
  
  .button{
    background: #f96754;
    border-style: solid;
    border-width: 1px;
    padding:10px;
    border-radius: 10px;
    color: white;
  }
  
  .button:hover {
    background: #fa897a;
  }
  
  #content input{
    border-style: solid;
    border-width:1px;
    border-radius: 10px;
    height:25px;
    margin-left: 5px;
  }
  
  p{
    font-size: 1.5em;
  }
  
  li{
    font-size: 1.125em
  }

  .orderedList {
    overflow:scroll;
    max-height:50px;
    overflow-x: hidden;
    max-width: 95%;
    text-align: center;
  }

  .fullScript {
    overflow:scroll;
    max-height:100px;
    overflow-x: hidden;
    max-width: 95%;
    text-align: center;
  }


  #scriptArea {
    padding-left: 10px;
  }

  #list {
    padding-right: 13px;
  }